@font-face {
    font-family: 'PressStart2P';
    src: url('/static/PressStart2P-Regular.woff2') format('woff2'),
         url('/static/PressStart2P-Regular.woff') format('woff');
    font-display: swap;
}

body, .stApp, * {
    font-family: 'PressStart2P', monospace;
}
